/* Sign-in */

#sign-in_page {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0 1% 0 1%;
}

/* Sign-in Box */

#sign-in {
    width: 27vw;
    height: 100vh;
    padding: 1%;
}

#sign-in>h1 {
    margin-top: 2%;
    width: 80%;
}

.sign-in_box {
    width: 100%;
    height: 14vh;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
}

#email,
#password {
    width: 80%;
    padding: 3%;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: large;
}

#acc_btn {
    width: 100%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#sign-in_btn,
#home_btn {
    width: 86%;
    border-radius: 5px;
    background-color: #678C37;
    border: none;
    padding: 4%;
    color: aliceblue;
    font-weight: bold;
}

#sign-in_btn:hover,
#home_btn:hover {
    cursor: pointer;
}

#home_btn {
    background-color: #EBB119;
}

/* Sign-in Side img */

#sign-in_img {
    width: 70vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

#account_img {
    width: 90%;
    margin-top: 4%;
    border-radius: 40px 0 40px 0;
}

#sign-in_img>h1 {
    color: aliceblue;
    position: absolute;
    top: 80%;
    left: 6%;
}