* {
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

nav {
    position: fixed;
    height: 20vh;
    width: 100vw;
    z-index: 50;
}

/* Top nav */

#nav_top {
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#nav_img,
#logo_img {
    width: 15vw;
    height: 15vh;
}

#nav_search {
    width: 70vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search_bar {
    margin: 2%;
    padding: 2%;
}

#search {
    width: 80%;
    padding: 1.5%;
    border: 1px solid black;
    border-radius: 5px;
}

#search_btn {
    background-color: #678c37;
    color: aliceblue;
    padding: 1.5%;
    border: none;
    border-radius: 5px;
    width: 10%;
    margin-left: 0%;
}

#search_btn:hover {
    cursor: pointer;
    background-color: #6b8647;
    box-shadow: 2px 1px 10px #6b8647;
}

#buy_block {
    display: flex;
    width: 15vw;
    height: 15vh;
}

#account,
#card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 7.5vw;
}

#acc_img,
#card_img {
    width: 2vw;
}

/* Bottom nav */

#nav_bottom {
    display: flex;
    height: 5vh;
    width: 100vw;
    background-color: #a1be7a;
}

#categories {
    width: 20vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#categories_btn {
    padding: 2%;
    height: 4vh;
    width: 8vw;
    color: aliceblue;
    border-radius: 10px;
    background-color: #3a5a10;
    border: none;
}

#categories_btn:hover {
    cursor: pointer;
    background-color: #2b440a;
    box-shadow: 2px 1px 10px #6b8647;
}

#nav_content {
    width: 80vw;
    height: 5vh;
}

#content_block {
    display: flex;
}

.content {
    list-style: none;
    width: 20vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content:hover {
    background-color: #2b440a;
}

.conten_a {
    color: aliceblue;
    text-decoration: none;
}

/* Footer */

footer{
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 4vh;
    font-weight: bold;
    color: aliceblue;
    background-color: black;
}